* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-size: 18px;
	background-color: black;
	font-family: 'Germania One', cursive;
	background-image: url(images/brick-bg.jpg);
	background-repeat: repeat;
	background-position: center;
  background-size: fill;
}

h1,h2 {
	font-size: 64px;
	color: black;
	padding: 18px;
	text-align: center;
	text-shadow: 2px 2px red;
}

h4 {
	color: white;
	text-align: center;
}

p {
	color: white;
	font-family: 'Lalezar', cursive;

}

button:hover {
	background-color: blue;
}

.battle-stats p {
	padding-top: 4px;
	text-align: center;
}

.monster-screen, .player-screen, .battle-stats {
	border: 5px solid white;
	background-color: black;
}

.monster-screen {
	background-image: url(images/dungeon-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
  background-size: fill;
}

.monster-screen h4 {
	text-align: center;
	position: relative;
	top: 32px;
}

/*.monster-screen img {
	margin: 0 auto;
}*/

.monster-placement {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.player-icon {
	text-align: center;
	background-image: url(images/dungeon-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
  background-size: fill;
  margin: 0 -16px 8px -16px;
}

/*.player-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
}*/

.player-screen img {
	max-width: 200px;
}

.player-info {
	display: flex;
	justify-content: space-around;
	position: relative;
	top: 16px;
}